<html>

<head>
	<title>Tasks</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body class="bg-light">
	<div class="container w-75">
		<div class="py-5 text-center">
			<h1>Tasks</h1>
			<p class="lead">A very simple task management tool</p>
		</div>
		<p class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}" id="message" />
		<form action="save" method="post" th:object="${todo}">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Task:</label>
				<div class="col-sm-10">
					<input th:field="*{task}" class="form-control" id="task">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Due Date:</label>
				<div class="col-sm-10">
                                    <input type="date" name="dueDate" th:field="*{dueDate}" class="form-control" id="dueDate">
				</div>
			</div>
			<input type="submit" value="Save" class="btn btn-block btn-outline-secondary" id="saveButton">
		</form>
	</div>
	<footer class="my-5 pt-5 text-muted text-center text-small border-top">
		<p class="mb-1">&copy; 2020 Daves Martins</p>
		<p class="mb-1" th:if="${version != null}" th:text="${version}" id="version" />
		<ul class="list-inline">
		</ul>
	</footer>
</body>

</html>
